{{#each comments as |comment| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/comments/{{comment.id}}">{{comment.comment}}</a>
    </h2>
    <p>Created by {{user.name}} on {{format_date comment.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{comment.comment}}
    </p>
  </div>
</div>
{{/each}}
